$blue: hsl(206, 72%, 68%);
$green: hsl(120, 42%, 54%);
$white: hsl(0, 0%, 100%);
$grey: hsl(226, 10%, 55%);
$disa: hsl(226, 15%, 83%);

.treatment_step_progress_bar_section {
  #steps {
    width: 75%;
    padding: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .step {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    background-color: $white;
    display: inline-block;
    border: 4px solid;
    border-radius: 50%;
    color: $disa;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
    &:first-child {
      line-height: 40px;
      img {
        margin: 2.5px auto 0 auto;
      }
    }
    &:nth-child(n + 2) {
      margin: 0 0 0 100px;
      transform: translate(0, -4px);
    }
    &:nth-child(n + 2):before {
      width: 75px;
      height: 3px;
      display: block;
      background-color: $white;
      transform: translate(-95px, 21px);
      content: "";
    }
    &:after {
      width: 150px;
      display: block;
      transform: translate(-55px, 3px);

      color: $grey;
      content: attr(data-desc);
      font-weight: 400;
      font-size: 13px;
    }
    &:first-child:after {
      transform: translate(-55px, -1px);
    }
    &.active {
      border-color: $blue;
      color: $blue;
      &:before {
        background: linear-gradient(to right, $green 0%, $blue 100%);
      }
      &:after {
        color: $blue;
      }
    }
    &.done {
      background-color: $green;
      border-color: $green;
      color: $white;
      &:before {
        background-color: $green;
      }
    }
    img {
      margin: 0 auto 0 auto;
    }
  }
}
